.text-list {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 175%;
  color: #8a8a8a;
}

.border-box {
  border: 1px solid #d0d0d0;
  padding: 20px;
  border-radius: 10px;
}
